{% macro render_select(data, field, selected_option, visual_field) %}
    <select>
        {% set n = data|length %}
        {% for i in range(n) %}
            {% set option = data.loc[i, field] %}
            {% if option == selected_option %}
                <option selected value={{i}}>
            {% else %}
                <option value={{i}}>
            {% endif %}
                {{ data.loc[i, visual_field] }}
                </option>
        {% endfor %}
    </select>
    
{% endmacro %}